@model NguyeThanhTri.Context.User

@{
    ViewBag.Title = "create";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>User List</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">User</li>
        </ol>
    </section>

    <section class="content">
        <div class="container-fluid">
            <h2>User</h2>



            <h2>Create</h2>
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                    <div class="form-group">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(m => m.ImageUrl)
                        <input type="file" name="imageFile" />
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                        @Html.CheckBoxFor(m => m.IsAdmin, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.IsAdmin, new { @class = "form-check-label" })
                        </div>
                    </div>
                    <div class="form-group">
                        <button type = "submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
                    </div>
            }
        </div>
    </section>
    </div>