@model NguyeThanhTri.Context.Product
@{
    ViewBag.Title = "detail";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <h2> Detail</h2>

            <div class="form-group">
                <label>ID</label>
                <p>@Model.Id</p>
            </div>

            <div class="form-group">
                <label>Name</label>
                <p>@Model.Name</p>
            </div>

            <div class="form-group">
                <label>Price</label>
                <p>@Model.Price.ToString("C")</p>
            </div>

            <div class="form-group">
                <label>Description</label>
                <p>@Model.Description</p>
            </div>

            <div class="form-group">
                <label>Category</label>
                <p>@(Model.Category != null ? Model.Category.Name : "No Category")</p>
            </div>

            <div class="form-group">
                <label>Brand</label>
                <p>@(Model.Brand != null ? Model.Brand.BrandName : "No Brand")</p>
            </div>



            <div class="form-group">
                <img src="~/images/pro/@Model.ImageUrl" alt="Product Image" width="150" height="150" class="img-thumbnail" />
            </div>

            <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to List</a>
        </div>
    </section>
    <!-- /.content -->

</div>
<!-- ./content-wrapper -->
<!-- REQUIRED SCRIPTS -->
